footer By 
  a(href='https://timolawl.github.io') Timolawl
  span  | 
  a(href='https://twitter.com/timolawl') Twitter
  span  | 
  a(href='https://github.com/timolawl') GitHub
  span  | 
  a(href='https://codepen.io/timolawl') Codepen
  span  | 
  a(href='https://freecodecamp.com/timolawl') Free Code Camp
script(src='/static/js/post.bundle.js')
