*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-size: 0.9rem; }

body {
  background: #1bbc9b; }

li:not(:last-child) {
  padding-bottom: 0.5rem; }

a:link {
  color: #2d3e50; }

a:visited {
  color: #2d3e50; }

a:hover {
  color: #e64c66; }

a:active {
  color: #e64c66; }

p {
  margin-left: 1.5rem; }

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  border: 2px solid #2d3e50;
  background: #aeaeae; }

.image-search--title {
  font-family: 'Miltonian';
  font-weight: initial;
  color: #e64c66;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  line-height: 80%;
  text-align: center; }

.image-search--catdiv {
  text-align: center; }

.image-search--cat {
  display: block;
  margin: 0 auto 0.25rem;
  border: 2px solid #e64c66; }

.image-search--subtitle {
  color: #e64c66;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
  text-align: center; }

.image-search__userstories--title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem; }

.image-search__userstories--text {
  margin-left: 1.5rem; }

.image-search__exampleusage--title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem; }

.image-search__exampleusage--text {
  margin-left: 1.5rem; }

.image-search__exampleoutput--title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem; }

.image-search__exampleoutput--text {
  margin-left: 1.5rem; }

.image-search__outcome--title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem; }

.image-search__outcome--text {
  margin-left: 1.5rem; }

.image-search--fadeout {
  color: #2d3e50; }

.footer {
  text-align: center;
  margin-top: 2rem; }
