doctype html
html(lang='en')
  head
    title= pageTitle
    link(rel='stylesheet', href='static/css/index.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
  body
    nav.main-nav
        ul
            li.main-nav__list: a(href='#createpoll') Create Poll
            li.main-nav__list: a(href='#mypolls') My Polls
            li.main-nav__list.account-nav
                a(href='#myaccount') My Account
                ul
                    li.account-nav__list: a(href='#settings') Settings
                    li.account-nav__list: a(href='#logout') Log Out
    section.main-banner
        img(src='https://placehold.it/250x250')
    section.poll
        .poll__element
        .poll__element
        .poll__element
        .poll__element
        .poll__element
    footer By 
        a(href='https://timolawl.github.io') Timolawl
        span  | 
        a(href='https://twitter.com/timolawl') Twitter
        span  | 
        a(href='https://github.com/timolawl') GitHub
        span  | 
        a(href='https://codepen.io/timolawl') Codepen
        span  | 
        a(href='https://freecodecamp.com/timolawl') Free Code Camp
