include /includes/header.pug
.title
  case path
    when 'signup'
      span Sign Up
    when 'login'
      span Log In
    when 'reset'
      span Reset Password
form.form
  if path == 'signup'
    label.form__label Name
    input.form__input.form__input--name(type='text', name='name' required)
  label.form__label Email
  input.form__input.form__input--email(type='email', name='email' pattern='^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9]+\.[a-zA-Z0-9-.]+$', maxlength='100', required)
  if path != 'reset'
    label.form__label Password
    input.form__input.form__input--password(type='password', name='password' minlength='6', maxlength='50', required)
  if path == 'signup'
    label.form__label Confirm Password
    input.form__input.form__input--confirm(type='password', name='confirm' minlength='6', maxlength='50', required)
  case path
    when 'signup'
      input.form__submit(type='submit' value='Sign Up')
    when 'login'
      input.form__submit(type='submit' value='Log In')
    when 'reset'
      input.form__submit(type='submit' value='Reset Password')
include /includes/footer.pug
