include /includes/header.pug
.title
  case path
    when 'signup'
      span Sign Up
    when 'login'
      span Log In
    when 'reset'
      span Reset Password
form.userform
  if path == 'signup'
    label.userform__label Name
    input.userform__input(type='text', required)
  label.userform__label Email
  input.userform__input(type='email', pattern='^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9]+\.[a-zA-Z0-9-.]+$', maxlength='100', required)
  if path != 'reset'
    label.userform__label Password
    input.userform__input(type='password', minlength='6', maxlength='50', required)
  if path == 'signup'
    label.userform__label Confirm Password
    input.userform__input(type='password', minlength='6', maxlength='50', required)
  case path
    when 'signup'
      input.userform__submit(type='submit' value='Sign Up')
    when 'login'
      input.userform__submit(type='submit' value='Log In')
    when 'reset'
      input.userform__submit(type='submit' value='Reset Password')
include /includes/footer.pug
