$primary-color: lightblue;
$secondary-color: gray;
$highlight-color: #f15a29; //orange;

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

a {
    &:link {
        text-decoration: none;
        color: $secondary-color;
    }
    &:visited {
        color: $secondary-color;
    }
    &:hover {
        color: $highlight-color;
    }
    &:active {
        color: $highlight-color;
    }
}

.main-nav {
    text-align: right;

    &__list {
        list-style-type: none;
        display: inline-block;
        position: relative;
    }

    a {
        display: inline-block;
        padding: 1rem;
        width: 100%; // allow for drop down nav bg to reach edge of screen
    }
}

.account-nav {
    & > ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; // allow for drop down nav bg to reach edge of screen
        text-align: left;
        display: none;
    }

    &__list {
        list-style-type: none;
        background-color: white;
    }

    &:hover {
        & > ul {
            display: block;
        }
    }
}

.main-banner {
    background-color: $primary-color;
    text-align: center;
    padding: 1rem;

}

// VOTE logo SVG styling

.vote {
    width: 30%;
    min-width: 200px;
    margin-top: -0.5rem;

    &-0 {
        stroke:#231f20;
        stroke-width:12;
    }
    &-0, &-1 {
        fill:none;
        stroke-miterlimit:10;
    }

    &-1 { // checkmark
        stroke:  #f15a29;
        stroke-width:12;

        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation-name: checkmark;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    &-2 {
        stroke-linecap:square;
    }

    &-2, &-3 {
        fill:none;
        stroke:gray;
        stroke-width:12;
        stroke-miterlimit:10;
    }
    // End vote logo svg styling

    &__subtitle {
        margin-top: -1rem;
        font-size: 0.8rem;
        color: $secondary-color;
    }

    &__description {
        margin-top: 1rem;
    }

    &__button {
        font-size: 0.9rem;
        margin-top: 1rem;
        background: white;
        padding: 0.8rem;
        border: 2px solid $secondary-color;
        border-radius: 0.5rem;
        &:hover {
            cursor: pointer;
            background-color: $highlight-color;
        }
        &:focus {
            outline: 0;
        }
    }

}

@keyframes checkmark { // checkmark animation
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
    }
}



.poll {
    &__element {
        width: 80%;
        // will need a min width once the details are filled in
        height: 50px;
        border: 4px solid $secondary-color;
        margin: 0.5rem auto;
        &:hover {
            cursor: pointer;
            background: lighten($secondary-color, 25%);
        }
    }
}

footer {
    text-align: center;
    margin-top: 2rem;
}
