$primary-color: lightblue;
$secondary-color: gray;
$highlight-color: #f15a29; // was orange

$paths: index, signup, login, reset;

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

a {
    &:link {
        text-decoration: none;
        color: $secondary-color;
    }
    &:visited {
        color: $secondary-color;
    }
    &:hover {
        color: $highlight-color;
    }
    &:active {
        color: $highlight-color;
    }
}

/********************************************************/
// main nav and banner
.main-nav {
    text-align: right;
    margin-right: 1rem;

    &__list {
        list-style-type: none;
        display: inline-block;
        position: relative;
    }

    ul a:not([class~='index']) {
        display: inline-block;
        padding: 1rem;
        width: 100%; // allow for drop down nav bg to reach edge of screen
    }

    ul.index a.index {
        background: $primary-color;
    }

    @each $path in $paths {
      ul.#{$path} li.#{$path} {
          background: $primary-color;
      }
    }

    &__logo {
        display: inline-block; // allows for setting height/width for anchor
        float: left;
        margin-left: 1rem;
        height: 3.5rem;
        width: 3.5rem;
    }
}

.account-nav {
    & > ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; // allow for drop down nav bg to reach edge of screen
        text-align: left;
        display: none;
    }

    &__list {
        list-style-type: none;
        background-color: white;
    }

    &:hover {
        & > ul {
            display: block;
        }
    }
}

.main-banner {
    position: relative;
    z-index: 2;
    background-color: $primary-color;
    text-align: center;
    padding: 1rem;
}

// VOTE logo SVG styling
.vote {
    &__link {
        display: inline-block;
        width: 30%;
        min-width: 200px;
        margin-top: -0.5rem;
    }

    &__fulllogo {
    }

    &-0 {
        stroke: #231f20;
        stroke-width: 12;
    }
    &-0, &-1 {
        fill: none;
        stroke-miterlimit: 10;
    }

    &-1 { // checkmark
        stroke:  #f15a29;
        stroke-width: 12;

        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation-name: checkmark;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    &-2 {
        stroke-linecap:square;
    }

    &-2, &-3 {
        fill: none;
        stroke: gray;
        stroke-width: 12;
        stroke-miterlimit: 10;
    }
    // End vote logo svg styling

    &__subtitle {
        margin-top: -1rem;
        font-size: 0.8rem;
        color: $secondary-color;
    }

    &__description {
        margin-top: 1rem;
    }

    &__button {
        font-size: 1rem;
        margin-top: 1rem;
        background: $highlight-color;
        padding: 0.8rem;
        border: 2px solid black;
        //border-radius: 0.5rem;
        &:hover {
            cursor: pointer;
            background-color: darken($highlight-color, 10%);
        }
        &:focus {
            outline: 0;
        }
    }
}

@keyframes checkmark { // checkmark animation
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
    }
}


/********************************************************/
// page titles
.title {
    margin: 1rem auto;
    font-size: 1.5rem;
    text-align: center;
}

/********************************************************/
// form
.form {
    width: 50%;
    max-width: 1000px;
    margin-left: 25%;
    &__label {
        display: block;
        margin: 1rem auto 0.25rem;
    }

    &__input {
        margin: 0 auto;
        padding: 0 0.5rem;
        height: 1.5rem;
        width: 100%;
        border: 1px solid #000;
        &--options {
            width: calc(100% - 1.5rem);
        }
    }

    &__options {
        &--option {
            &:not(:first-of-type) {
                * {
                    border-top: none;
                }
            }
        }
    }

    &__button {
        &--delete {
            display: inline-block;
            vertical-align: bottom;
            width: 1.5rem;
            height: 1.5rem;
            background-color: red;
            border: 1px solid black;
            border-left: none;
            &:hover {
                cursor: pointer;
                background-color: darken(red, 10%);
            }
        }

        &--create {
            display: block;
            margin: 1rem auto;
            width: 100%;
            height: 1.5rem;
            background-color: #ccc; // $secondary-color;
            border: 1px solid black;
            cursor: pointer;
            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }
    }

    &__submit {
        display: block;
        margin: 1rem auto 0.25rem;
        width: 100%;
        height: 1.5rem;
        background-color: $primary-color;
        border: 1px solid black;
        cursor: pointer;
        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

/********************************************************/
// pollform



/********************************************************/
// poll details on front page (also can be for "my polls" section)
.poll { // may want to rename this as this is only the list elements of the polls
    &__element {
        width: 80%;
        // will need a min width once the details are filled in
        height: 50px;
        border: 4px solid $secondary-color;
        margin: 0.5rem auto;
        &:hover {
            cursor: pointer;
            background: lighten($secondary-color, 25%);
        }
    }
}

/********************************************************/
// footer
footer {
    text-align: center;
    margin-top: 2rem;
}
